.btn-warning {
	align-items: center;	
}

.white-caption {
	color: white;
}

.row {
	text-align: center;
}

.pmain {
	text-align: left;
	color: black;
	font-family: david;
	float: left;
	width: 60%;
	background-position: center;
	padding: 0%;
	margin: 1%;
}

.pnew {
	float: left;
	width: 33%;
	background-color: #adcc6e;
	padding: 15px; 
	margin: 2%;
	position:relative;
}

.animal-title {
    margin: -40px 0 0px;
	border-bottom: 1px solid #eee;
	position: relative;
}

img:hover {
	cursor: zoom-in;
}

h1 {
	margin-top: 100px;
	text-align: center;
	top: 0;
	font-size: 80px;
}

h2 {
	font-family: Acme;
}

p {
	font-family: Josefin Sans;
}